<ng-include src="'modules/formBuilder/tabs.html'"></ng-include>
<div class="container">
    <div class="row">
        <button type="button" class="btn btn-default" ng-click="addStudy()">
            <i class="glyphicon glyphicon-plus"></i> Add Study
        </button>
    </div>
    <hr/>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="study in studies">
            <div class="btn-group pull-right">
                <button class="btn btn-default" ng-click="editStudy(study)">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
            </div>
            <h4 class="list-group-item-heading clearfix">{{study.studyName}}</h4>
            <p class="list-group-item-text" ng-if="study.id">Study ID: {{study.id}}</p>
        </li>
    </ul>
    <div class="panel panel-default" ng-if="editing">
        <div class="panel-heading">
            <label>Study Name
                <input type='text' ng-model="currentStudy.studyName" id="study_name" class='form-control'/>
            </label>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="start_input{{$id}}">Start Day</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="startDate{{$id}}" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input value="{{currentStudy.startDate | date:'MM-dd-yyyy'}}" id="start_input{{$id}}"
                                       type="text" class="form-control">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <p class="help-block">First day of responses</p>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="currentStudy.startDate"
                                            data-datetimepicker-config="{ startView:'day', minView:'day' }"></datetimepicker>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="end_input{{$id}}">End Day</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="endDate{{$id}}" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input value="{{currentStudy.endDate | date:'MM-dd-yyyy'}}" id="end_input{{$id}}"
                                       type="text" class="form-control">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <p class="help-block">Last day of responses</p>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="currentStudy.endDate"
                                            data-datetimepicker-config="{  startView:'day', minView:'day' }"></datetimepicker>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Days to send survey</label>
                    <div class="well weekdays">
                        <label class="checkbox-inline" title="Sunday">
                            <input ng-model="currentStudy.sunday" ng-true-value="true" ng-false-value="false"
                                   type="checkbox">
                            <span class="icon glyphicon glyphicon-check" ng-if="currentStudy.sunday"></span>
                            <span class="icon glyphicon glyphicon-unchecked" ng-if="!currentStudy.sunday"></span>
                            <span class="day">Sun</span>
                        </label>
                        <label class="checkbox-inline" title="Monday">
                            <input ng-model="currentStudy.monday" ng-true-value="true" ng-false-value="false"
                                   type="checkbox">
                            <span class="icon glyphicon glyphicon-check" ng-if="currentStudy.monday"></span>
                            <span class="icon glyphicon glyphicon-unchecked" ng-if="!currentStudy.monday"></span>
                            <span class="day">Mon</span>
                        </label>
                        <label class="checkbox-inline" title="Tuesday">
                            <input ng-model="currentStudy.tuesday" ng-true-value="true" ng-false-value="false"
                                   type="checkbox">
                            <span class="icon glyphicon glyphicon-check" ng-if="currentStudy.tuesday"></span>
                            <span class="icon glyphicon glyphicon-unchecked" ng-if="!currentStudy.tuesday"></span>
                            <span class="day">Tue</span>
                        </label>
                        <label class="checkbox-inline" title="Wednesday">
                            <input ng-model="currentStudy.wednesday" ng-true-value="true" ng-false-value="false"
                                   type="checkbox">
                            <span class="icon glyphicon glyphicon-check" ng-if="currentStudy.wednesday"></span>
                            <span class="icon glyphicon glyphicon-unchecked" ng-if="!currentStudy.wednesday"></span>
                            <span class="day">Wed</span>
                        </label>
                        <label class="checkbox-inline" title="Thursday">
                            <input ng-model="currentStudy.thursday" ng-true-value="true" ng-false-value="false"
                                   type="checkbox">
                            <span class="icon glyphicon glyphicon-check" ng-if="currentStudy.thursday"></span>
                            <span class="icon glyphicon glyphicon-unchecked" ng-if="!currentStudy.thursday"></span>
                            <span class="day">Thu</span>
                        </label>
                        <label class="checkbox-inline" title="Friday">
                            <input ng-model="currentStudy.friday" ng-true-value="true" ng-false-value="false"
                                   type="checkbox">
                            <span class="icon glyphicon glyphicon-check" ng-if="currentStudy.friday"></span>
                            <span class="icon glyphicon glyphicon-unchecked" ng-if="!currentStudy.friday"></span>
                            <span class="day">Fri</span>
                        </label>
                        <label class="checkbox-inline" title="Saturday">
                            <input ng-model="currentStudy.saturday" ng-true-value="true" ng-false-value="false"
                                   type="checkbox">
                            <span class="icon glyphicon glyphicon-check" ng-if="currentStudy.saturday"></span>
                            <span class="icon glyphicon glyphicon-unchecked" ng-if="!currentStudy.saturday"></span>
                            <span class="day">Sat</span>
                        </label>
                        <div class="clearfix"></div>
                    </div>
                    <p class="help-block">The form will only be sent out on the selected days.</p>
                </div>

                <div class="form-group">
                    <label class="control-label">Add a time</label>
                    <div class="">
                        <div>
                            <uib-timepicker ng-model="time_fixed" minute-step="5"
                                            style="display: inline-table; vertical-align: middle;"></uib-timepicker>
                            <button type="button" class="btn btn-default"
                                    ng-click="currentStudy.fixedTimes.push(time_fixed);">Add
                            </button>
                        </div>
                        <p class="help-block">Time of the day at which to send out surveys</p>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Current Times</h3>
                            </div>
                            <ul class="list-group" style="height: 200px; overflow: auto;">
                                <li class="list-group-item" ng-repeat="time in currentStudy.fixedTimes track by $index">
                                    <button type="button" class="close" aria-label="Close"
                                            ng-click="currentStudy.fixedTimes.splice($index, 1)" class="pull-right">
                                        <span aria-hidden="true">&times;</span></button>
                                    <span>{{time | date:'hh:mm a'}}</span>
                                </li>
                                <li class="list-group-item" ng-hide="currentStudy.fixedTimes.length > 0">
                                    There are currently no times listed in this study.
                                </li>
                            </ul>
                            <div class="panel-footer" ng-show="currentStudy.fixedTimes.length > 0">
                                <button class="btn btn-default" ng-click="currentStudy.fixedTimes = []">Remove all
                                    times
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Duration of Availability
                        <input type='number' ng-model="currentStudy.duration" class='form-control'/>
                        <span style="display: inline">hours</span>
                    </label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="participants_txt">Add participants</label>
                    <div class="">
                        <!-- Paste a plain-text list -->
                        <p>Copy a list of participants' email addresses and paste into this box:</p>
                        <p class="help-block">Each email address should occupy one line.</p>
                        <textarea class="form-control" id="participants_txt" ng-model="currentStudy.participants_txt"
                                  rows="5" style="resize: none;"
                                  ng-init="currentStudy.participants_txt = ''"></textarea>
                        <button class="btn btn-default" ng-disabled="currentStudy.participants_txt.length == 0"
                                ng-click="appendParticipants(currentStudy)">Add participants
                        </button>
                        <button class="btn btn-default" data-toggle="collapse" data-target="#participantAddWarning"
                                aria-expanded="false" aria-controls="participantAddWarning"
                                ng-disabled="currentStudy.participants_txt.length == 0">Replace
                            participants&hellip;</button>
                        <div class="collapse" id="participantAddWarning" style="margin-top: 10px;">
                            <div class="alert alert-danger">
                                <p>Warning! This will remove all the current participants!</p>
                                <button class="btn btn-danger pull-right" ng-click="replaceParticipants(currentStudy)"
                                        data-toggle="collapse" data-target="#participantAddWarning">Continue
                                </button>
                                <button class="btn btn-link pull-right" data-toggle="collapse"
                                        data-target="#participantAddWarning">Cancel
                                </button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Current Participants</h3>
                            Green denotes activated emails. Red denotes emails not yet activated.
                        </div>
                        <ul class="list-group" style="height: 400px; overflow: auto;" ng-if="currentStudy.participants">
                            <li class="list-group-item" ng-repeat="participant in currentStudy.participants"
                                ng-class="{'participant-verified': usersMapKeyedByUsername[participant].is_email_verified == true, 'participant-notverified': usersMapKeyedByUsername[participant].is_email_verified == false}">
                                <button type="button" class="close" aria-label="Close"
                                        ng-click="currentStudy.participants.splice($index, 1)" class="pull-right"><span
                                        aria-hidden="true">&times;</span></button>
                                <span>{{participant}}</span>
                            </li>
                            <li class="list-group-item" ng-hide="currentStudy.participants.length > 0">
                                There are currently no participants.
                            </li>
                        </ul>
                        <div class="panel-footer"
                             ng-if="currentStudy.participants && currentStudy.participants.length > 0">
                            <button class="btn btn-default" ng-click="currentStudy.participants=[]">Delete all
                                participants
                            </button>
                            <button class="btn btn-primary pull-right" ng-click="exportParticipants()">
                                <span class="glyphicon glyphicon-floppy-save"></span> Export participants CSV
                            </button>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn pull-right btn-primary" type="submit" ng-click="saveStudies()">Save Study</button>
            <button class="btn pull-right btn-default" ng-click="cancelEdit()" style="margin-right: 10px;">Cancel
            </button>
            <button ng-if="currentStudy.id" class="btn btn-default" type="submit"
                    ng-click="studyService.deleteStudy(currentStudy.id); state.reload();">Delete Study
            </button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
