<div class="page-header">
</div>
<div class="container">
    <div class="row form-group form-inline">
        <input type="search" class="form-control" ng-init="query=''" ng-model="query"
               placeholder="Filter by Title, Subtitle, or Question" style="width: 50%">
        <button type="button" class="btn btn-primary pull-right" ui-sref="secure.builder">
            <i class="glyphicon glyphicon-file"></i> New Form
        </button>
    </div>
    <div class="jumbotron" ng-show="myForms.length < 1">
        <h1>Welcome!</h1>
        <p>With <span class="logo"><b>Form</b>Builder</span>, you can design your own forms by following three simple
            steps:</p>
        <ol>
            <li>Click the <b>New Form</b> button.</li>
            <li><b>Drag & drop</b> form components from the right site of the screen into the left side.</li>
            <li>Press the <b>Save</b> button whenever you want to save your progress.</li>
        </ol>
        <p>
            <button class="btn btn-primary btn-lg" ui-sref="secure.builder">
                <i class="glyphicon glyphicon-file"></i> Create a new form
            </button>
        </p>
        <p>You can come back to this page by clicking the <b>My Forms</b> button in the top bar. It will then show you a
            list of all your forms.</p>
    </div>
    <ul class="list-group">
        <li ng-repeat="form in myForms | filter:filterByQuestion" class="list-group-item clearfix">
            <span style="font-size:1.25em;">{{form.name}}</span>
            <div class="pull-right hidden-xs">
                <button type="button" class="btn btn-default" ui-sref="secure.builder({'id':{{form.id}}})" title="Edit">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button" class="btn btn-default" ui-sref="secure.form_settings({'id':{{form.id}}})">
                    <span class="glyphicon glyphicon-cog"></span> Settings
                </button>
                <button type="button" class="btn btn-default" ui-sref="secure.response({'id':{{form.id}}})"
                        title="Responses">
                    <span class="glyphicon glyphicon-inbox"></span> Responses
                </button>
                <button type="button" class="btn btn-default" ui-sref="secure.form_studies({'id':{{form.id}}})"
                        title="Studies">
                    <span class="glyphicon glyphicon-book"></span> Studies
                </button>
                <a type="button" class="btn btn-default" target="_blank" ui-sref="form({'id':{{form.id}}})"
                   title="Preview Form">
                    <span class="glyphicon glyphicon-eye-open"></span> Preview Form</a>
            </div>
            <div class="pull-right btn-group visible-xs-block">
                <button type="button" class="btn btn-default" ui-sref="secure.builder({'id':{{form.id}}})">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ui-sref="secure.form_settings({'id':{{form.id}}})"><span
                            class="glyphicon glyphicon-cog"></span> Settings</a></li>
                    <li><a ui-sref="secure.form_studies({'id':{{form.id}}})"><span
                            class="glyphicon glyphicon-book"></span> Studies</a></li>
                    <li><a ui-sref="secure.response({'id':{{form.id}}})"><span class="glyphicon glyphicon-inbox"></span>
                        Responses</a></li>
                    <li><a ui-sref="form({'id':{{form.id}}})"><span class="glyphicon glyphicon-eye-open"></span> Preview
                        form</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>