<div class="container-fluid">
    <form class="form-signin" ng-submit="registerUser()">
        <h2 class="form-signin-heading"><span class="logo"><b>Form</b>Builder</span> Register</h2>
        <input class="form-control email" type="email" ng-model="register.username" placeholder="Email address"
               required>
        <input class="form-control pw1 pw2" type="password" ng-model="password.pw" placeholder="Password" required>
        <input class="form-control pw2 pw" type="password" ng-model="password.pwc" placeholder="Confirm password"
               required>
        <input class="form-control cellPhone" type="tel" ng-model="register.cellPhone"
               placeholder="Cell phone number (optional)">

        <div class="form-group">
            <h3>
                <small>Notification Preference:</small>
            </h3>
            <label class="radio-inline">
                <input class="notificationPreference" type="radio" ng-model="register.notificationPreference"
                       value="EMAIL"/>
                Email
            </label>
            <label class="radio-inline">
                <input class="notificationPreference" type="radio" ng-model="register.notificationPreference"
                       value="TEXT"/>
                Text
            </label>
            <label class="radio-inline">
                <input class="notificationPreference" type="radio" ng-model="register.notificationPreference"
                       value="BOTH"/>
                Both
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <button class="btn btn-lg btn-link btn-block" type="button" ng-click="cancel()">Cancel</button>
    </form>
</div>