<ng-include src="'partials/tabs.html'"></ng-include>

<div class="container">
    <div class="card">
        <div class="item item-text-wrap">
            <label class="item item-input item-select">
                <div class="item item-divider">
                    Asthma
                </div>
            </label>
                <div class="input-label"> What type of building does the patient live in? </div>
                <select>
                  <option></option>
                  <option>House</option>
                  <option>Duplex</option>
                  <option>Apartment</option>
                  <option>Mobile Home</option>
                  <option>Other</option>
                </select>

                <div class="input-label"> Does the patient own or rent? </div>
                <select>
                  <option></option>
                  <option>Own</option>
                  <option>Rent</option>
                </select>

                <div class="input-label"> Does anyone smoke in the home or car? </div>
                <select>
                  <option></option>
                  <option>Mother</option>
                  <option>Father</option>
                  <option>Other Relative</option>
                </select>

                <div class="input-label"> Is the patient’s asthma worse when around warm-blooded pets? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Is the patient’s asthma worse when around chemicals or products with strong odors (such as cleaners, paints, adhesives, pesticides, air freshners, or cosmetics)? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Does the heating and cooling system use filters? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Does the heating system use a fuel-burning appliance (such as an oil or gas furnace)? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Are supplemental heating sources used? (Check all that apply) </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Are there air conditioning window units? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> What does the patient sleep on? (Check all that apply) </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> What type of floor covering is present? (Check all that apply) </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Is there upholstered furniture present? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Are stuffed toys present?</div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> What window coverings are present? (Check all that apply)</div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Are gas cooking appliances used? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Is there evidence of water damage, moisture, or leaks (such as damp carpet or leaky plumbing)? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Do you see or smell mold or mildew (such as in the bathroom on tub, shower, walls, or windows)? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Is standing water present (such as in refrigerator drip pans, air conditioner drip pans, or house plants)? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Are humidifiers used in the patient's house? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Are rooms and moisture-producing appliances-such as stoves, clothes dryers, or dishwashers-properly vented (including venting to the outside if specified bt the manufacturer)? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Is there evidence of cockroaches and/or rodents (such as droppings or dead specimens in traps)? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Are there food crumbs or open or unsealed food? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Are there holes or gaps between consruction materials and pipes that could allow pests to enter the house? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Is there evidence of standing water or leaks? </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div class="input-label"> Summary </div>
                <select>
                  <option></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>

                <div>
                    <button class="button"> Submit </button>
                </div>
                
        </div>
    </div>
</div>