<div class="container">
    <div class="row">
        <h2>{{form_obj.name}}</h2>
        <h3>{{form_obj.subtitle}}</h3>
        <hr/>
        <form class="form-horizontal" ng-submit="submit()">
            <div ng-model="input" fb-form="{{id}}"></div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-10">
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="pull-left control-label" style="font-weight: bold">E-Mail Receipt</div>
        <br/>
        <div class="onoffswitch pull-left">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4" ng-model="send_receipt" ng-disabled="receipt_required">
            <label class="onoffswitch-label" for="myonoffswitch4">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <br/>
        <br/>
        <label class='control-label'> Receipt E-Mail
            <input type="text" ng-model="responder_email" class='form-control' ng-disabled="!send_receipt">
        </label>
    </div>
</div>