<div class="container">
    <div class="row">
        <h2>Form Settings</h2>
        <div class="row">
            <div class="col-md-12">
                <label> Form Title
                    <input type='text' ng-model="form.name" id="form_title" class='form-control' placeholder="Form Name"/>
                </label>
                <label> Form Subtitle
                    <input type='text' ng-model="form.subtitle" id="form_subtitle" class='form-control' placeholder="Form Subtitle"/>
                </label>
                <div class="pull-right">
                    <a type="button" class="btn btn-danger" ng-click="deleteForm()">Delete</a>
                    <a type="submit" target="_blank" ui-sref="form({'id':form.id})" class="btn btn-default">Preview</a>
                    <input type="submit" ui-sref="secure.builder({'id': form.id})" class="btn btn-default" value="Edit Form">
                    <a type="button" class="btn btn-primary" ng-click="duplicateForm()">Duplicate</a>
                </div>
            </div>
        </div>
        <hr/>
    </div>
    <form class="row" ng-submit="save()">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">Form Status</div>
                <div class="panel-body">
                    <div class="pull-left control-label" style="font-weight: bold">Form Open</div>
                    <div class="pull-right control-label" style="font-weight: bold">Form Public</div>
                    <br/>
                    <div class="onoffswitch pull-left">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" ng-model="form.enabled">
                        <label class="onoffswitch-label" for="myonoffswitch2">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <div class="onoffswitch pull-right">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" ng-model="form.public" id="myonoffswitch">
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    <br/>
                    <br/>
                    <p class="help-block">Form must be open to receive responses. Form must be public for responses without user login. Open forms that are not public require user login.</p>

                    <br/>
                    <label class='control-label' style="width:100%"> Form URL
                        <input type="text" ng-model="formURL" class='form-control' ng-disabled="!form.enabled" contenteditable="true">
                    </label>
                    <p class="help-block">Form must be open to accept responses.</p>

                    <div class="pull-left control-label" style="font-weight: bold">Expiration Time</div>
                    <br/>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="expiration" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input value="{{expiration_date | date:'MM-dd-yyyy hh:mm a'}}" id="{{formName+index}}" type="text" class="form-control">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="expiration_date" data-datetimepicker-config="{ dropdownSelector: '#expiration' }"/>
                        </ul>
                    </div>
                    <p class="help-block">Date at which form will automatically close to new submissions.</p>

                    <label class='control-label' style="width: 100%"> Form Closed Message
                        <textarea class='form-control' ng-model="form.closed_message"></textarea>
                    </label>
                    <p class="help-block">Message to show visitor once form is closed or expired.</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Post-Form Actions</div>
                <div class="panel-body">
                    <label class='control-label' style="width: 100%"> URL Redirect
                        <input type="url" class='form-control' ng-model="form.redirect_url">
                    </label>
                    <p class="help-block">URL to send user after finishing form.</p>

                    <label class='control-label' style="width: 100%"> Form Submitted Message
                        <textarea class='form-control' ng-model="form.completed_message"></textarea>
                    </label>
                    <p class="help-block">Message to show visitor once form is submitted.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <input type="submit" ui-sref="secure.home" class="btn btn-danger" value="Cancel">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </form>
</div>