<div class="container">
    <div class="row">
        <h1>Form Builder</h1>
        <div class="col-md-offset-11">
            <input type="submit" ng-click="save()" class="btn btn-default" value="Save">
        </div>
        <hr/>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Builder</h3>
                </div>
                <div fb-builder="default"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div fb-components></div>
        </div>
    </div>

    <div class="row">
        <h2>Form Preview</h2>
        <hr/>
        <form class="form-horizontal">
            <div ng-model="input" fb-form="default" fb-default="defaultValue"></div>
            <div class="form-group">
                <div class="col-md-8 col-md-offset-4">
                    <input type="submit" ng-click="submit()" class="btn btn-default"/>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-md-12 footer"></div>
    </div>
</div>