<div class="container">
    <div class="row">
        <h1>Form Builder</h1>
        <div class="row">
            <div class="col-md-offset-0 col-md-3">
                <input type='text' ng-model="form_data.name" id="form_title" class='form-control' placeholder="Form Name"/>
            </div>
            <div class="col-md-offset-8">
                <input type="submit" ui-sref="secure.home" class="btn btn-danger" value="Cancel">
                <input type="submit" ng-show="form_id" class="btn btn-default" ui-sref="secure.form_settings({id: form_id})" value="Settings">
                <!--suppress HtmlUnknownAnchorTarget -->
                <a type="submit" ng-show="form_id" target="_blank" href="/#/form/{{form_id}}" class="btn btn-default">Preview</a>
                <input type="submit" ng-click="save()" class="btn btn-primary" value="Save">
            </div>
        </div>
        <hr/>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Builder</h3>
                </div>
                <div fb-builder="default"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div fb-components></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 footer"></div>
    </div>
</div>