<div class="container">
    <div class="row">
        <h1>
            Forms
            <button type="button" class="btn btn-primary pull-right" ui-sref="secure.builder">New Form</button>
        </h1>
    </div>
    <ul class="list-group">
        <li ng-repeat="form in myForms" class="list-group-item clearfix">
            {{form.name}}
            <span class="pull-right">
                <button type="button" class="btn btn-default" ui-sref="secure.response({'id':{{form.id}}})"><span class="glyphicon glyphicon-inbox"></span></button>
                <button type="button" class="btn btn-default" ui-sref="secure.builder({'id':{{form.id}}})"><span class="glyphicon glyphicon-pencil"></span></button>
                <button type="button" class="btn btn-default" ui-sref="secure.form_settings({'id':{{form.id}}})"><span class="glyphicon glyphicon-cog"></span></button>
            </span>
        </li>
    </ul>
</div>