<div> Form Builder Home Page</div>


<button type="button" class="btn btn-default" ui-sref="secure.builder">New Form</button>
<button type="button" class="btn btn-default" ng-click="logOut()">Log Out</button>

<ul class="list-group">
    <li ng-repeat="form in myForms" class="list-group-item" ui-sref="secure.builder({'id':{{form.id}}})">
        {{form.name}}
        <span class="pull-right">
            <button type="button" class="btn btn-default" ui-sref="secure.builder({'id':{{form.id}}})">Edit</button>
        </span>
    </li>
</ul>