<ng-include src="'partials/tabs.html'"></ng-include>
<div class="container">
	<div class="col-md-12">
	    <div class="row">
	        <label> Form Title
	            <input type='text' ng-model="form.name" id="form_title" class='form-control' placeholder="Form Name"/>
	        </label>
	        <label> Form Subtitle
	            <input type='text' ng-model="form.subtitle" id="form_subtitle" class='form-control'
	                   placeholder="Form Subtitle"/>
	        </label>
	    </div>
	</div>
</div>