<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
                <span class="sr-only">Toggle navigation</span>
            </button>
            <span class="navbar-brand logo"><b>Form</b>Builder</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li ui-sref-active="active"><a ui-sref="secure.home">My Forms</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">{{uin}}</a></li>
                <li><a href="#" ng-click="logOut()">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>