<!--suppress HtmlUnknownAttribute -->
<div class="container">
    <div class="row">
        <h3>Response #{{rid}}
            <button type="button" class="btn btn-default pull-right" ng-click="toPDF()">PDF</button>
            <button type="button" class="btn btn-danger pull-right" ng-click="deleteResponse()">Delete</button>
        </h3>
        <h4>Form: {{form.name}}</h4>
        <hr/>
        <form class="form-horizontal">
            <div ng-model="input" fb-default="defaultValue" fb-form="{{id}}"></div>
        </form>
    </div>
</div>