<div class="container">
    <div class="row">
        <h2>Responses
            <button type="button" class="btn btn-default pull-right" ng-show="responses" ng-click="toPDF()">PDF</button>
            <button type="button" class="btn btn-default pull-right" ng-show="responses" ng-click="getCSV()">CSV</button>
        </h2>
        <h4>Form: {{form.name}}</h4>
    </div>
    <hr/>
    <ul class="list-group">
        <li class="list-group-item clearfix" ng-repeat="response in responses">
            Response #{{response.id}}
            <span class="pull-right">
                <button type="button" class="btn btn-default" ui-sref="secure.response.detail({rid: response.id})">View</button>
            </span>
        </li>
    </ul>
</div>