<div class="container">
    <div class="row">
        <h2>Responses
            <button type="button" class="btn btn-default pull-right" ng-show="responses" ng-click="toPDF()">PDF</button>
            <button type="button" class="btn btn-default pull-right" ng-show="responses" ng-click="getCSV()">CSV</button>
        </h2>
        <h4>Form: {{form.name}}
            <input type="search" class="form-control pull-right" style="width: 35%" ng-model="filter" placeholder="Search">
        </h4>
    </div>
    <hr/>
    <div class="well" ng-show="responses.length < 1">
        <p>There are currently no responses here.</p>
    </div>
    <div style="overflow-y: scroll; padding-left: 10px">
        <table class="table table-striped row col-md-12" ng-hide="responses.length < 1">
            <tr>
                <td ng-repeat="q in form.questions | orderBy: 'index'">{{q.label}}</td>
            </tr>
            <tr ng-repeat="response in responses">
                <td ng-repeat="entry in response.entries | uniqueById: 'question_id' | orderByIndexInQuestion: form.questions track by $index">
                    {{entry.value}}
                </td>
            </tr>
        </table>
    </div>
</div>