<ng-include src="'/partials/tabs.html'"></ng-include>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label> Form Title
                <input type='text' ng-model="form.name" id="form_title" class='form-control' placeholder="Form Name"/>
            </label>
            <label> Form Subtitle
                <input type='text' ng-model="form.subtitle" id="form_subtitle" class='form-control'
                       placeholder="Form Subtitle"/>
            </label>
        </div>
        <hr/>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-default" ng-click="studies.push({formId:form.id, participants:[],fixedTimes:[],ranges:[]});" value="Add Study">
    </div>
    <hr>
    <div class="panel panel-default" ng-repeat="study in studies">
        <div class="panel-heading">
            <button class="btn pull-right btn-default" type="submit" ng-click="studyService.newStudies(studies)" value="Delete Study">Save Study</button>
            <button ng-if="study.id" class="btn pull-right btn-danger" type="submit"
                    ng-click="studyService.deleteStudy(study.id)" value="Delete Study">Delete Study
            </button>
            <h3 class="panel-title">Study #{{$index+1}}</h3>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <section class="row">
                <div class="dropdown col-md-4">
                    <a class="dropdown-toggle" id="startDate{{$id}}" role="button" data-toggle="dropdown" data-target="#"
                       href="#">
                        <label for="start_input{{$id}}">Start Day</label>

                        <div class="input-group">
                            <input value="{{study.startDate | date:'MM-dd-yyyy'}}" id="start_input{{$id}}"
                                   type="text" class="form-control">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="study.startDate"
                                        data-datetimepicker-config="{ startView:'day', minView:'day', dropdownSelector: '#startDate{{$id}}' }"></datetimepicker>
                    </ul>
                    <p class="help-block">Time to send out submissions</p>
                </div>
                <div class="dropdown col-md-4">
                    <a class="dropdown-toggle" id="endDate{{$id}}" role="button" data-toggle="dropdown" data-target="#"
                       href="#">
                        <label for="end_input{{$id}}">End Day</label>

                        <div class="input-group">
                            <input value="{{study.endDate | date:'MM-dd-yyyy'}}" id="end_input{{$id}}" type="text"
                                   class="form-control">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="study.endDate"
                                        data-datetimepicker-config="{  startView:'day', minView:'day', dropdownSelector: '#endDate{{$id}}' }"></datetimepicker>
                    </ul>
                    <p class="help-block">Time to send out submissions</p>
                </div>
            </section>
            <section class="well">
                <label class="checkbox-inline">
                    <input ng-model="study.sunday" ng-true-value="1" ng-init="study.sunday=0" ng-false-value="0" type="checkbox"> Sunday
                </label>
                <label class="checkbox-inline">
                    <input ng-model="study.monday" ng-true-value="1" ng-init="study.tuesday=0" ng-false-value="0" type="checkbox"> Monday
                </label>
                <label class="checkbox-inline">
                    <input ng-model="study.tuesday" ng-true-value="1" ng-init="study.monday=0" ng-false-value="0" type="checkbox"> Tuesday
                </label>
                <label class="checkbox-inline">
                    <input ng-model="study.wednesday" ng-true-value="1" ng-init="study.wednesday=0" ng-false-value="0" type="checkbox"> Wednesday
                </label>
                <label class="checkbox-inline">
                    <input ng-model="study.thursday" ng-true-value="1" ng-init="study.thursday=0" ng-false-value="0" type="checkbox"> Thursday
                </label>
                <label class="checkbox-inline">
                    <input ng-model="study.friday" ng-true-value="1" ng-init="study.friday=0" ng-false-value="0" type="checkbox"> Friday
                </label>
                <label class="checkbox-inline">
                    <input ng-model="study.saturday" ng-true-value="1" ng-init="study.saturday=0" ng-false-value="0" type="checkbox"> Saturday
                </label>
            </section>
            <section class="row">
            </section>
            <label class="row"> Timing
                <select ng-model="random" class="form-control">
                    <option value="0">Fixed</option>
                    <option value="1">Random</option>
                </select>
            </label>
            <div ng-if="random == '0'" class="row">
                <div class="dropdown col-md-4">
                    <label for="input{{$id}}">Time</label>
                    <a class="dropdown-toggle" id="time{{$id}}" role="button" data-toggle="dropdown" data-target="#"
                       href="#">
                        <div class="input-group">
                            <input value="{{time_fixed | date:'MM-dd-yyyy hh:mm a'}}" id="input{{$id}}" type="text"
                                   class="form-control">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="time_fixed"
                                        data-datetimepicker-config="{ startView:'hour', minView:'minute', dropdownSelector: '#time{{$id}}' }"></datetimepicker>
                    </ul>
                    <p class="help-block">Time to send out submissions</p>
                </div>
                <input type="submit" class="btn btn-default col-md-1" ng-click="study.fixedTimes.push(time_fixed);" value="Add">
            </div>
            <div ng-if="random == '1'">
                <label> Range
                    <select ng-model="range" class="form-control">
                        <option>MORNING</option>
                        <option>AFTERNOON</option>
                        <option>EVENING</option>
                        <option>NIGHT</option>
                    </select>
                </label>
                <input type="submit" class="btn btn-default" ng-click="study.ranges.push(range);" value="Add">
            </div>
            <div ng-repeat="time in study.fixedTimes track by $index"> {{time | date:'MM-dd-yyyy hh:mm a'}} </div>
            <div ng-repeat="range in study.ranges track by $index"> {{range}} </div>
            <div class="row">
                <label> Participant
                    <input type="text" ng-model="add_participant" typeahead="user as user.username for user in users | filter: {username: $viewValue}" class="form-control">
                </label>
                <input type="submit" class="btn btn-default" ng-click="study.participants.push(add_participant.username); add_participant = null"
                       value="Add Participant">
            </div>
            <ul class="well" ng-if="study.participants && study.participants.length > 0">
                <li ng-repeat="participant in study.participants">{{participant}} <span
                        ng-click="study.participants.splice($index, 1)">X</span></li>
            </ul>
        </div>
    </div>
</div>