<ng-include src="'/partials/tabs.html'"></ng-include>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label> Form Title
                <input type='text' ng-model="form.name" id="form_title" class='form-control' placeholder="Form Name"/>
            </label>
            <label> Form Subtitle
                <input type='text' ng-model="form.subtitle" id="form_subtitle" class='form-control' placeholder="Form Subtitle"/>
            </label>
            <div class="pull-right">
                <a type="button" class="btn btn-danger" ng-click="deleteForm()">Delete</a>
                <a type="submit" target="_blank" ui-sref="form({'id':form.id})" class="btn btn-default">Preview</a>
                <a type="button" class="btn btn-primary" ng-click="duplicateForm()">Duplicate</a>
            </div>
        </div>
        <hr/>
    </div>
    <div class="row">
        <input type="submit" ng-click="studies.push({participants:[]});" value="Add Study">
    </div>
    <div class="row" ng-repeat="study in studies">
        {{study}}
        <br/>
        <label> Study Type
            <select ng-model="study.repetitive">
                <option value="0">Daily</option>
                <option value="1">Repetitive</option>
            </select>
        </label>
        <label> Study Type
            <select ng-model="study.random">
                <option value="0">Fixed</option>
                <option value="1">Random</option>
            </select>
        </label>
        <section ng-if="study.random == '0'" class="row">
            <div class="dropdown col-md-4">
                <a class="dropdown-toggle" id="time{{$id}}" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <label for="input{{$id}}">Time</label>
                    <div class="input-group">
                        <input value="{{study.time | date:'MM-dd-yyyy hh:mm a'}}" id="input{{$id}}" type="text" class="form-control">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="study.time" data-datetimepicker-config="{ dropdownSelector: '#time{{$id}}' }"></datetimepicker>
                </ul>
                <p class="help-block">Time to send out submissions</p>
            </div>
        </section>
        <section ng-if="study.random == '1'" class="row">
            <label> Range
                <select ng-model="study.range">
                    <option>Morning</option>
                    <option>Noon</option>
                    <option>Evening</option>
                    <option>Night</option>
                </select>
            </label>
        </section>
        <section class="row">
            <div class="dropdown col-md-4">
                <a class="dropdown-toggle" id="start_time{{$id}}" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <label for="start_input{{$id}}">Start Time</label>
                    <div class="input-group">
                        <input value="{{study.start_time | date:'MM-dd-yyyy hh:mm a'}}" id="start_input{{$id}}" type="text" class="form-control">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="study.start_time" data-datetimepicker-config="{ dropdownSelector: '#start_time{{$id}}' }"></datetimepicker>
                </ul>
                <p class="help-block">Time to send out submissions</p>
            </div>
            <div class="dropdown col-md-4">
                <a class="dropdown-toggle" id="end_time{{$id}}" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <label for="end_input{{$id}}">End Time</label>
                    <div class="input-group">
                        <input value="{{study.end_time | date:'MM-dd-yyyy hh:mm a'}}" id="end_input{{$id}}" type="text" class="form-control">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="study.end_time" data-datetimepicker-config="{ dropdownSelector: '#end_time{{$id}}' }"></datetimepicker>
                </ul>
                <p class="help-block">Time to send out submissions</p>
            </div>
        </section>

        <label> Participant <input ng-model="add_participant"> </label>
        <input type="submit" ng-click="study.participants.push(add_participant); add_participant = null" value="Add Participant">
        <ul> <li ng-repeat="participant in study.participants">{{participant}}</li> </ul>
        <hr/>
    </div>
</div>