<h3>
<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{ 'active': curState=='secure.builder'}"><a ui-sref="secure.builder({'id': form_id})">Builder</a></li>
    <li role="presentation" ng-class="{ 'active': curState=='secure.form_settings'}"><a ui-sref="secure.form_settings({'id': form_id})">Settings</a></li>
	<li role="presentation" ng-class="{ 'active': curState=='secure.response'}"><a ui-sref="secure.response({'id':form_id})">Responses</a></li>
</ul>
</h3>
                <!-- <ng-include src="'/partials/tabs.html'"></ng-include>-->