<div class="form-group">
    <label
            class="col-sm-4 control-label"
            ng-class="{'fb-required':required}">{{label}}</label>

    <div class="col-sm-8">
        <img ng-show="inputText != null" src="{{inputText}}"/>
        <signature-pad ng-show="inputText == null" signature accept="accept" clear="clear" height="220"
                       width="568"></signature-pad>
        <input ng-show="false" ng-model="inputText" type="text"  validator-required="{{required}}" validator-group="{{formName}}"/>
        <button type="button" ng-click="clear(); inputText = null;">Clear signature</button>
        <button ng-show="inputText == null" type="button"
                ng-click="signature = accept(); inputText = signature.dataUrl">Sign
        </button>
        <p class='help-block'>{{description}}</p>
    </div>
</div>