<div ng-repeat="page in questionPageArray" class="panel {{page.sectionObj.settings.color ? page.sectionObj.settings.color : 'panel-default'}}" ng-show="page.length != 0">
    <div class="panel-heading" ng-init="hideShow[$index] = page.show">
        <h3 class="panel-title clearfix">
            {{page.heading}}
            <span ng-show="!hideShow[$index]" ng-click="hideShow[$index] = !hideShow[$index]"
                  class="pull-right glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            <span ng-show="hideShow[$index]" ng-click="hideShow[$index] = !hideShow[$index]"
                  class="pull-right glyphicon glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </h3>
    </div>
    <div ng-show="hideShow[$index]" class="panel-body">
        <div ng-repeat="object in page" class="fb-form-object" fb-form-object="object"></div>
    </div>
</div>