<div class="form-group" ng-controller="uploadCtrl">
    <label class="col-sm-4 control-label" for="{{formName+index}}" ng-class="{'fb-required':required}">{{label}}</label>

    <div class="col-sm-8">
        <p class="item item-icon-left item-text-wrap" ng-show='inputText'>
            <i class="icon ion-folder balanced"></i>
            Currently Uploaded File: {{name}}
            <a ng-click="download(inputText)">Download</a>
        </p>

        <p class="item item-text-wrap" ng-hide='inputText'>
            Currently there is no file uploaded. Please use the "Upload File" button to select a file.
        </p>

        <div ng-show="selectedFiles != null && inputText">
            <div class="sel-file" ng-repeat="f in selectedFiles">
                <label>Progress for file upload:</label>
                <br/>
                <span class="progress" ng-show="progress[$index] >= 0">
					<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
				</span>
                <br/>
                <button class="button button-small button-positive" ng-click="abort($index)"
                        ng-show="hasUploader($index) && progress[$index] < 100">Cancel Upload
                </button>
                {{f.name}} - size: {{f.size/1000}}kB
            </div>
        </div>
        <input ng-hide='inputText' ng-model='inputText' validator-required="{{required}}" validator-group="{{formName}}"
               id="{{formName+index}}" class="form-control" type="file"
               ng-file-select="onFileSelect($files, label+index)" onclick="this.value=null"
               accept="{{objJoin(settings.filetypesVal).join(', ')}}">
        <input ng-show='inputId' class="form-control" type="button" ng-click="deleteFile(inputId)" value="Delete">

        <p class='help-block'>{{description}}</p>

        <p class='help-block'>Accepted file types: {{objJoin(settings.filetypesVal).join(', ')}}</p>
    </div>
</div>