<div class="form-group">
    <label
           class="col-sm-4 control-label"
           ng-class="{'fb-required':required}">{{label}}</label>
    <div class="col-sm-8">
        <signature-pad signature accept="accept" clear="clear" height="220" width="568"></signature-pad>
        <button type="button" ng-click="clear()">Clear signature</button>
        <button type="button" ng-click="console.log('hi1'); inputText = accept().stringify(); console.log('hi', signature)">Sign</button>
        <p>{{inputText}}</p>
        <p class='help-block'>{{description}}</p>
    </div>
</div>