<div class="form-group">
    <label for="{{formName+index}}" class="col-sm-4 control-label" ng-class="{'fb-required':required}">{{label}}</label>
    <div class="col-sm-8">
        <div class="dropdown">
            <a class="dropdown-toggle" id="{{formName+index+'asf'}}" role="button" data-toggle="dropdown" data-target="#" href="#">
                <div class="input-group">
                    <input value="{{inputText | date:'MM-dd-yyyy'}}" id="{{formName+index}}" type="text" class="form-control" validator-required="{{required}}" validator-group="{{formName}}" placeholder="{{placeholder}}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="inputText" data-datetimepicker-config="{ dropdownSelector: '#{{formName+index+'asf'}}', startView:'day', minView:'day' }"/>
            </ul>
        </div>
        <p class='help-block'>{{description}}</p>
    </div>
</div>