<div class="form-group">
    <label class="col-sm-4 control-label" ng-class="{'fb-required':required}">{{label}}</label>
    <div class="col-sm-8">
        <div class="up-buttons">
            <div ng-file-select="" ng-model="files" class="upload-button" ng-multiple="false" ng-accept="'*.pdf,*.jpg,*.png'" ng-model-rejected="rejFiles" tabindex="0">Attach an Image or PDF</div><br>
            <button ng-file-select="" ng-model="files" ng-multiple="true">Attach Any File</button>
        </div>
        <p class='help-block'>{{description}}</p>
    </div>
</div>