<div class="page-header page-header-tabs">
    <div class="container">
        <h2 class="page-title">{{form.name}}</h2>
        <p class="page-subtitle">{{form.subtitle}}</p>
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{ 'active': curState=='secure.builder'}">
                <a ui-sref="secure.builder({'id': form_id})">
                    <span class="glyphicon glyphicon-pencil"></span> Edit Questions
                </a>
            </li>
            <li role="presentation" ng-if="form_id > 0" ng-class="{ 'active': curState=='secure.form_settings'}">
                <a ui-sref="secure.form_settings({'id': form_id})">
                    <span class="glyphicon glyphicon-cog"></span> Settings
                </a>
            </li>
            <li role="presentation" ng-if="form_id > 0" ng-class="{ 'active': curState=='secure.response'}">
                <a ui-sref="secure.response({'id':form_id})">
                    <span class="glyphicon glyphicon-inbox"></span> Responses
                    <!-- TODO: keep track of number of responses to show as a badge in the tab -->
                    <!-- <span class="badge">{{responses.length}}</span> -->
                </a>
            </li>
            <li role="presentation" ng-if="form_id > 0" ng-class="{ 'active': curState=='secure.form_studies'}">
                <a ui-sref="secure.form_studies({'id':form_id})">
                    <span class="glyphicon glyphicon-book"></span> Studies
                </a>
            </li>
            <li class="pull-right">
                <a type="submit" class="btn btn-primary" ng-show="form_id > 0" target="_blank" ui-sref="form({'id':form_id})">
                    <span class="glyphicon glyphicon-eye-open"></span> Preview
                </a>
            </li>
        </ul>
    </div>
</div>
