/*** SITE WISE ***/
.participant-notverified {
    background-color: lightcoral;
}
.participant-verified {
    background-color: lightgreen;
}

.site-header {
    background-color: #f5f5f5;
}

.jumbotron ol {
    font-size: 21px;
    margin-bottom: 15px;
    font-weight: 200;
}

a:link,
.btn-link {
    color: #c8102e;
}

a:link:hover,
a:link:hover:focus,
.btn-link:hover,
.btn-link:focus {
    color: #960c22;
}

.btn-default > span {
    line-height: inherit;
}
.btn-primary {
    background-color: #c8102e;
    border-color: #960c22;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #960c22;
    border-color: #960c22;
}
.btn-primary:active,
.btn-primary:hover:active,
.btn-primary:focus:active {
    background-color: #960c22;
    border-color: #960c22;
}
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus {
    background-color: #960c22;
    border-color: #960c22;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.footer {
    height: 50px;
}

.grid {
    min-height: 400px;
}

/*** Navbar ***/
.navbar {    
    /*font-size: 1.25em;*/
    margin-bottom: 0px;
}

.navbar-default {
    background-color: #c8102e;
    color: #EEC0C0;
}

.navbar-default .navbar-collapse {
    border-color: #960c22;
}

.logo {
    font-weight: 200;
}

.navbar-default .navbar-brand {
    color: white;
    cursor: default;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-text,
.navbar-default .navbar-nav > li > a {
    color: inherit;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:active:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:target,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:visited {
    background-color: #960c22;
    color: white;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: none;
}

.navbar-default .navbar-toggle:active {
    background-color: #960c22;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #EEC0C0;
}


.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: white;
}

/*** Page Header ***/

.page-header {
    /* UH brand color */
    background-color: #f5f5f5;
    border-color: #ddd;
    margin-top: 0;
}
.page-header-tabs {
    padding-bottom: 0;
}
.page-header-center {
    text-align: center;
}

.page-header .page-subtitle {
    color: #888888;
    font-size: 18px;
}

/*** Page Navigation Tabs ***/

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li, .nav-pills > li {
    color: #C8102E;
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
    line-height: 1;
}

.nav-tabs a {
    color: inherit;
}

.nav-tabs a .glyphicon {
    margin-right: 5px;
}

.nav-tabs a.btn-primary {
    color: white;
}

.nav-tabs a.btn-primary:hover,
.nav-tabs a.btn-primary:focus {
    background-color: #960c22;
    border-color: #960c22;
    color: white;
}

/*** Form Builder ***/

.form-title {
    margin-right: 0;
    margin-left: 0;
    background-color: white;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 10px;
}

.form-title-fixed {
    position: fixed !important;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 15px 15px 0 15px;
}

.form-actions {
    text-align: right;
}

/*@media screen and (min-width: 740px) {
    .rmargin .form-actions {
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 36px;
        right: 15px;
    }
}*/

@media screen and (min-width: 992px) {
    .form-fixed {
        position: fixed !important;
        top: 100px;
        left: 50%;
    }
}

@media screen and (max-width: 991px) {
    .builder-components .form-horizontal {
        height: 400px !important;
    }
}

.builder-components .form-horizontal {
    overflow-y: scroll;
    overflow-x: hidden;
}

/*** Miscellaneous ***/

input:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus {
    outline: 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/*** Sign-in Form ***/

.form-signin .form-signin-heading {
    text-align: center;
    margin-bottom: 15px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .email {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .pw {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .pw1 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-signin .pw2 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Progress bar for file upload */
.progress {
    display: inline-block;
    width: 100px;
    border: 1px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: #b6d5e5;
    width: 0;
}

/*** CHECKBOX FLIPSWITCH ***/
.onoffswitch {
    position: relative;
    width: 65px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #CCCCCC;
    border-radius: 25px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: margin 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: margin 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: margin 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 26px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 2px solid transparent;*/
    background-clip: padding-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 0px;
    background-color: #c8102e;
    color: #FFFFFF;
    /*border-radius: 25px;*/
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 0px;
    background-color: #CCCCCC;
    color: #333333;
    text-align: right;
    /*border-radius: 25px;*/
}

.onoffswitch-switch {
    border: 1px solid #CCCCCC;
    border-radius: 25px;
    display: block;
    width: 30px;
    background: #fff;
    margin: 0 0 5px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 35px;
    -moz-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}

.ui-grid-top-panel {
    overflow: visible;
}

.weekdays {
    display: flex;
    justify-content: space-around;
}

.weekdays .checkbox-inline {
    padding: 0;
    margin: 0;
    flex: 1 1 auto;
}

.weekdays .checkbox-inline input {
    display: none;
}

.weekdays .checkbox-inline .icon {
    color: #888888;
    border-radius: 100%;
    text-align: center;
    font-size: 24px;
    padding: 8px;
    line-height: 1;
    display: block;
}

.weekdays .checkbox-inline input:checked + .icon {
    color: #c8102e;
}

.weekdays .checkbox-inline .day {
    text-align: center;
    display: block;
}
