.footer{height:50px}

.grid {
    height: 800px;
}

.rmargin {
    margin-right: 0;
    margin-left: 0;
    background-color: white;
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 10px;
    padding:15px;
}
.form-title-fixed {
    position: fixed !important;
    top:0;
    z-index: 1000;
    /*width: inherit;*/
}
@media screen and (min-width: 710px) {
    .rmargin>div>.pull-right {
       -webkit-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        right: 15px;
    }
}
@media screen and (max-width: 767px) {
    .rmargin {
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    .rmargin {
        width: 750px;
    }
}
@media screen and (min-width: 992px) {
    .formbuilderRight {
        width: 455px;
    }
    .rmargin {
        width: 970px;
    }
    .form-fixed {
        position: fixed !important;
        top:100px;
        left:50%;
    }
}
@media screen and (min-width: 1200px) {
    .formbuilderRight {
        width: 555px;
    }
    .rmargin {
        width: 1170px;
    }
}
@media screen and (max-width: 991px) {
    .formbuilderRight .form-horizontal{
        height: 400px !important;
    }
}
.formbuilderRight .form-horizontal{
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin .email {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin .pw {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .pw1 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin .pw2 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Progress bar for file upload */
.progress {
    display: inline-block;
    width: 100px;
    border: 1px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: #b6d5e5;
    width: 0;
}

/*** CHECKBOX FLIPSWITCH ***/
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #2E8DEF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #CCCCCC; color: #333333;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px;
    background: #000000;
    margin: 0 0 5px 0;
    position: absolute; top: 0; bottom: 0; right: 65px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}